.header-logo {
  border: ridge;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo-image {
  width: 200px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.logo-image:hover {
  transform: scale(1.1);
}

.header-items > ul {
  display: flex;
  align-items: center;
  margin: 5px;
}

.header-items > ul > li {
  margin: 5px;
  list-style-type: none;
  font-family: Georgia, serif;
}

.header-items {
  justify-content: right;
  display: flex;
  margin-left: auto;
}

.body-search-section-textarea {
  padding: 5px;
  resize: none;
  margin-top: 5px;
  margin-left: 2px;
  display: flex;
  align-items: center;
}

.body-search-section {
  display: flex;
  flex-direction: row;
}

.body-search-section-button {
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.restaurent-image {
  width: 200px;
  height: 200px;
  text-decoration: none;
}

.restaurent-list {
  padding: 10px;
  width: 200px;
  height: 360px;
  background-color: rgb(206, 205, 205);
  cursor: pointer;
  transition: 0.2s;
  border: ridge;
  display: block;
  column-gap: 25px;
  align-items: center;
  text-decoration: none;
}

.restaurent-list > h3 {
  text-decoration: none;
}

.restaurent-list > h5 {
  text-decoration: none;
}

.restaurent-list:hover {
  transform: scale(1.01);
}

.sort-btn {
  margin: 4px;
  border: solid black;
  cursor: pointer;
  transition: 0.2s;
}

.sort-btn:hover {
  transform: scale(1.01);
}

.restaurent-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px;
  text-decoration: none;
}

#root {
  background-color: #d6dde3;
}

.restaurent-menu-detail-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px;
  cursor: pointer;
}

.restaurent-menu-detail {
  padding: 10px;
  width: 200px;
  background-color: rgb(206, 205, 205);
  cursor: pointer;
  transition: 0.2s;
  border: ridge;
  display: block;
  column-gap: 25px;
  /* align-items: center; */
  transition: 0.2s;
  /* justify-content: center; */
}

.restaurent-menu-detail:hover {
  transform: scale(1.01);
}

.restaurent-menu-image {
  width: 200px;
  height: 200px;
}

.restaurent-data-details {
  display: flex;
  justify-content: center;
}

.restaurent-data-offers {
  display: flex;
  justify-content: center;
}

.restaurent-menu-details > h3 {
  justify-content: center;
}

.user-detail-card {
  padding: 10px;
  border: solid rgb(206, 205, 205);
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
}

.user-detail-avatar-image {
  height: 200px;
  width: 200px;
  padding: 5px;
  border: solid beige;
  display: flex;
  margin: auto;
  cursor: pointer;
  transition: 0.2s;
}

.user-detail-avatar-image:hover {
  transform: scale(1.1);
}

.user-detail-section {
  padding: 10px;
  border: solid rgb(206, 205, 205);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-detail-section > h4 {
  padding: 10px;
  transition: 0.2s;
}

.user-detail-section > h4:hover {
  transform: scale(1.1);
}

.about-us > h3 {
  padding: 5px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.restaurent-data-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 30px;
}

.restaurent-data-details > h4 {
  padding: 5px;
  margin: auto;
  transition: 0.2s;
}

.restaurent-data-details > h4:hover {
  transform: scale(1.2);
}

.restaurent-data-offers-description {
  padding: 2px;
  margin: auto;
  font-size: 30px;
}

.restaurent-data-offers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 5px;
  font-size: 30px;
}
